.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100 116 139);
  flex-direction: column;
  &__text {
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-shadow: 4px 4px 8px black;
  }
}
